body {
	display: block;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.bb {
	border 1px solid red;
}

.header {
	height: 146px;
	background-color: #ffffff;
}

.header-top {
	height: 90px;
	width: 1170px;
	margin: 0 auto;
	text-decoration: none;
	display: flex;
	align-items: center;
	
}

.header-top-main {
	width: 1170px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-top_nav {
	margin: 0 auto;
}

.header-top_nav-list li {
	display: inline;
	margin-right: 30px;
	font-size: 14px;
}

.header-top_aside {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	color: #000;
	font-size: 11px;
}

.header-top_aside-cart-text {
	display: flex;
	text-decoration: none;
	color: #000;
	font-size: 11px;
	margin-left: 5px;
	text-transform: uppercase;
}

.header-top_aside-cart {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-top_aside-signin {
	margin-left: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}

.header-top_aside-signin-btn {
	position: absolute;
	text-decoration: none;
	color: #000;
	font-size: 11px;
	text-transform: uppercase;
}

.img-signin {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle {
	position: absolute;
	margin-left: 57px;
	z-index: 2;
}

.img-circle {
	position: relative;
	z-index: 1;
	margin-left: 5px;
}

.header-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1170px;
	height: 56px;
	margin: 0 auto;
	border-top: 1px solid #f0f2f7;
}

.header-bottom_list {
	display: flex;
	list-style-type: none;
	padding: 0;
}

.header-bottom_aside {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-bottom_item {
	margin-right: 32px;
	text-transform: uppercase;
	color: #b9bed1;
	font-size: 11px;
}

.header-bottom_item:nth-of-type(3) {
	color: #343e5c;
}

.header-bottom_aside {
	font-size: 11px;
}

.header-bottom_aside-support {
	text-decoration: none;
	color: #b9bed1;
	margin-right: 33px;
	text-transform: uppercase;
}

.header-bottom_aside-looking_text {
	text-decoration: none;
	color: #b9bed1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-bottom_aside-looking {
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-looking {
	margin-right: 10px;
}

.section {
	height: 500px;
	color: #fff;
}

.section-image {

	background-size: contain;
	width: 100%;
	height: 500px;
	background-image: url(../img/Placeholder.jpg);
	color: white;
}

.content {
	position: relative;
	width: 1170px;
	margin: 0 auto;

	
}

.content-h1 {
	padding-top: 103px;
	font-size: 42px;
	margin: 0;
}

.content-text {
	margin-top: 35px;
	font-size: 16px;
	font-weight: 400;
}

.content-btn {
	display: flex;
	margin-top: 69px;
	font-size: 11px;
	
}

.btn1 {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	width: 165px;
	height: 42px;
  border-radius: 21px;
  background: #2754eb;

}














